<div class="containerHome">
    <div class="fundoBSB">
        <h2>Eventos em Brasília</h2>
    </div>
    <div class="nenhumEvento" *ngIf="eventos.length === 0">
      <p>Nenhum evento encontrado.</p>
    </div>
    <div class="sectionEventos">
        <div *ngFor="let evento of eventos" class="evento-card">
            <h3>{{ evento.nome }}</h3>
            <p class="pDescricao"><strong>Descrição:</strong><br> {{ evento.descricao }}</p>
            <p><strong>Dia:</strong><br> {{ evento.data | date: 'dd/MM/yyyy' }}</p>
            <div class="card-evento-capa" *ngIf="evento.capa">
              <img [src]="evento.capa" alt="Capa do evento" class="evento-capa" />
            </div>
          </div>
    </div>
  </div>